@page "/{slug}"
@model GBEventos.Pages.EventoDetalheModel
@{
	ViewData["Title"] = "Detalhes do Evento";

}

<h2>🎉 Evento de @Model.Eventos.NomeCelebrado</h2>
<p><strong>Data:</strong> @Model.Eventos.DataEvento</p>
<p><strong>Hora:</strong> @Model.Eventos.HoraEvento</p>
<p><strong>Formato:</strong> @Model.Eventos.FormatoEvento</p>
<p><strong>Tipo:</strong> @Model.Eventos.TipoEvento</p>

@if (Model.Usuarios != null)
{
    <hr />
    <h4>Responsável pelo evento:</h4>
    <p><strong>Nome:</strong> @Model.Usuarios.Nome</p>
    <p><strong>Email:</strong> @Model.Usuarios.Email</p>
}