@page
@model GBEventos.Pages.Eventos.EventosModel
@{
	ViewData["Title"] = "Eventos";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Eventos != null && Model.Eventos.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>UsuariosId</th>
                <th>TipoEvento</th>
                <th>FormatadoEvento</th>
				<th>NomeCelebrado</th>
				<th>DataEvento</th>
                <th>HoraEvento</th>
				<th>SexoCelebrado</th>
				<th>IdadeCelebrado</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var eventos in Model.Eventos)
            {
                <tr>
                    <td>@eventos.Id</td>
                    <td>@eventos.UsuarioId</td>
                    <td>@eventos.TipoEvento</td>
                    <td>@eventos.FormatoEvento</td>
                    <td>@eventos.NomeCelebrado</td>
                    <td>@eventos.DataEvento</td>
                    <td>@eventos.HoraEvento</td>
                    <td>@eventos.SexoCelebrado</td>
					<td>@eventos.IdadeCelebrado</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum evento encontrado.</p>
}